<body style="background-color:#151515">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'photo:list' %}">Plantbay Gallery</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse flex-row-reverse"
      id="navbarTogglerDemo02">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <form action="{% url 'photo:search' %}" method="get" class="form-inline mb-2 mr-sm-2">
            <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search for a tag">
          </li>
            <li>''</li>
          <li class="nav-item">
            <button class="btn btn-secondary mb-2" type="submit">Search</button>
          </li>
          </form>
          <li>''</li>
          {% if user.is_authenticated and user.is_staff %}
          <li class="nav-item">
            <a href="{% url 'admin:index' %}" class="btn btn-primary">Admin Panel</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'photo:create' %}">Add a photo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Hi {{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'user:logout' %}">Logout</a>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item">
          <a href="{% url 'user:login' %}" class="btn btn-sm btn-danger">Sign In</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
